<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Pass</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>

<div class="container">
    <!-- Left Frame with Sidebar -->
    <div class="left-frame">
        <div class="sidebar">
            <!-- Logo with corresponding sidebar heading -->
            <a href="{{ url_for('upload') }}">
                <img src="{{ url_for('static', filename='images/th.png') }}" alt="Logo 1" class="logo">
                <h2 class="sidebar-heading">Upload</h2>
            </a>

            <a href="#">
                <img src="{{ url_for('static', filename='images/download.png') }}" alt="Logo 2" class="logo">
                <h2 class="sidebar-heading">Download</h2>
            </a>

            <a href="{{ url_for('share') }}">
                <img src="{{ url_for('static', filename='images/share.png') }}" alt="Logo 3" class="logo">
                <h2 class="sidebar-heading">Share</h2>
            </a>

            <a href="{{ url_for('change_password') }}">
                <img src="{{ url_for('static', filename='images/change_pass.png') }}" alt="Logo 4" class="logo">
                <h2 class="sidebar-heading">Change Password</h2>
            </a>

            <a href="{{ url_for('logout') }}">
                <img src="{{ url_for('static', filename='images/logout.png') }}" alt="Logo 5" class="logo">
                <h2 class="sidebar-heading">Logout</h2>
            </a>
        </div>
    </div>

    <!-- Right Frame -->
    <div class="right-frame">
        <h2>Change Password</h2>
<form method="post" action="{{ url_for('change_password') }}">
    <label for="current_password">Current Password:</label>
    <input type="password" name="current_password" required><br>
    <label for="new_password">New Password:</label>
    <input type="password" name="new_password" required><br>
    <label for="confirm_new_password">Confirm New Password:</label>
    <input type="password" name="confirm_new_password" required><br>
    <input type="submit" value="Change Password">
</form>
 <a href="{{ url_for('index') }}">Back to Dashboard</a>
    </div>
</div>

</body>
</html>
