body, html {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        .container {
            display: flex;
            height: 100%;
            overflow: hidden; /* Hide any overflow content */
        }
        .left-frame {
            flex: 0 0 200px; /* Fixed width for left frame */
            background-color: #f0f0f0;
            border-right: 1px solid #ccc;
            overflow-y: auto; /* Enable scrolling if content exceeds frame */
        }
        .right-frame {
            flex: 1; /* Take remaining space */
            background-color: #fff;
            overflow: auto; /* Enable scrolling if content exceeds frame */
            padding: 20px; /* Add padding for content */
        }
        .sidebar {
            padding: 20px;
            display: flex;
            flex-direction: column;
        }
        .sidebar-heading {
            font-weight: bold;
            display: none; /* Hide by default */
        }
        .sidebar-link {
            display: block;
            margin-bottom: 1px;
            color: #333;
            text-decoration: none;
        }
        .sidebar-link:hover {
            text-decoration: underline;
        }
        /* Show sidebar headings when hovering over logos */
        .logo:hover + .sidebar-heading {
            display: block;
        }
        .logo {
            max-width: 80%;
            height: auto;
            margin-bottom: 10px; /* Adjust spacing between logos */
        }