<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pending Uploads</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>

<div class="container">
    <h1>Pending Uploads</h1>
    <table>
        <tr>
            <th> USERNAME</th>
            <th>File Name</th>
            <th>Encrypted Hash</th>
            <th>Action</th>
        </tr>{% for file in pending_files %}
<tr>
    <td> {{ file.username }}</td>
    <td>{{ file.file_name }}</td>
    <td>{{ file.encrypted_hash }}</td>
    <td>
        <form action="{{ url_for('approve_upload', upload_id=file.id) }}" method="post">
            <button type="submit">Approve</button>
        </form>
    </td>
    <td>
        <form action="{{ url_for('reject_upload', upload_id=file.id) }}" method="post">
            <button type="submit">Reject</button>
        </form>
    </td>
</tr>
{% endfor %}
    </table>
</div>

</body>
</html>
