<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>

<div class="container">
    <!-- Left Frame with Sidebar -->
    <div class="left-frame">
        <div class="sidebar">
            <!-- Logo with corresponding sidebar heading -->
            <a href="{{ url_for('upload') }}">
                <img src="{{ url_for('static', filename='images/upload.png') }}" alt="Logo 1" class="logo">
                <h2 class="sidebar-heading">Upload</h2>
            </a>

            <a href="{{ url_for('decrypt') }}">
                <img src="{{ url_for('static', filename='images/download.png') }}" alt="Logo 2" class="logo">
                <h2 class="sidebar-heading">Download</h2>
            </a>

            <a href="{{ url_for('share') }}">
                <img src="{{ url_for('static', filename='images/share.png') }}" alt="Logo 3" class="logo">
                <h2 class="sidebar-heading">Share</h2>
            </a>

            <a href="{{ url_for('display_blocks') }}">
                <img src="{{ url_for('static', filename='images/blocks.png') }}" alt="Logo 6" class="logo">
                <h2 class="sidebar-heading">Blocks</h2>
            </a>

            <a href="{{ url_for('change_password') }}">
                <img src="{{ url_for('static', filename='images/change_pass.png') }}" alt="Logo 4" class="logo">
                <h2 class="sidebar-heading">Change Password</h2>
            </a>

            <a href="{{ url_for('logout') }}">
                <img src="{{ url_for('static', filename='images/logout.png') }}" alt="Logo 5" class="logo">
                <h2 class="sidebar-heading">Logout</h2>
            </a>
        </div>
    </div>

    <!-- Right Frame -->
    <div class="right-frame">

        <img src="{{ url_for('static', filename='images/ipfs_dashboard.png') }}" alt="IMAGE OF UPLOADING TO IPFS">
        <h1>Upload a File</h1>
        <form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data">
        <input type="file" name="file" accept=".pdf, .txt">
        <input type="text" name="filename" placeholder="Filename">
        <input type="text" name="key" placeholder="Encryption Key"> <!-- Input field for encryption key -->
        <input type="submit" value="Upload">
    </form>

    <h2>Uploaded Files</h2>
    <ul>
        {% for file_info in uploaded_files %}
            <li>{{ file_info.filename }} - {{ file_info.encrypted_hash }}</li>
        {% endfor %}
    </ul>

        <a href="{{ url_for('index') }}">Back to Dashboard</a>
    </div>
</div>

</body>
</html>