.container {
    display: flex;
    height: 100%;
}

.left-frame {
    flex: 0 0 200px;
    background-color: #7ec2aa;
    border-right: 1px solid #ccc;
}

.right-frame {
    flex: 1;
    background-color: #ffebee;
    padding: 20px;
}

.blockchain-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.blockchain-content {
    flex: 1;
}

.block-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.block {
    width: 100%;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    background-color: #f0f0f0;
}

.block .content {
    /* Adjust as needed */
}

.block p, .block .hash, .block .previous-hash {
    font-size: 0.8rem;
}

.hash, .previous-hash {
    word-wrap: break-word;
}

.content {
    word-wrap: break-word; /* Ensure long words are broken */
    overflow-wrap: break-word; /* Ensure long words don't overflow container */
}

.data {
    max-width: 100%; /* Allow data paragraph to occupy full width */
}
